@using ApiDocs;
@{
    ViewData["Title"] = "Nhóm sản phẩm";
    ICollection<ProductCatergoryRequest> Categories = ViewBag.Categories;
}

<div class="container-fluid p-4">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Danh sách nhóm sản phẩm</h1>
        </div>
        <div class="col-sm-6" style="text-align-last: right;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-category-add">Thêm mới</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-reposive">
                        <thead>
                            <tr>
                                <th>Tên nhóm sản phẩm</th>
                                <th>Nhà cung cấp</th>
                                <th class="text-center w-140">Ngày tạo</th>
                                <th class="w-120"></th>
                                <th class="w-70"></th>
                            </tr>
                        </thead>
                        <tbody id="tbl-body"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="/Views/Category/CreatePartial.cshtml" />
<partial name="/Views/Category/EditPartial.cshtml" />

@section Scripts{
    <script>
        $(function () {
            GetCategory();
        })

        function GetCategory() {
            $.ajax({
                type: "GET",
                url: 'http://localhost:5000/api/ProductCategory',
                data: '',
                success: function (data) {
                    if (data.isSucceed) {
                        let html = '';
                        if (data.result.length > 0) {
                            $.each(data.result, function (index, item) {
                                html += `<tr class="text-center">
                                            <td class="text-left">${item.name}</td>
                                            <td class="text-left">${item.supplier}</td>
                                            <td>${moment(item.createdDate).format('HH:mm DD/MM/yyyy')}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" onclick="openUpdateCategory(${item.id})">Chỉnh sửa</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" onclick="deleteCategory(${item.id})">Xoá</button>
                                            </td>
                                        </tr>`;
                            });
                        } else {
                            html += `<tr>
                                        <td colspan="4" class="text-center">Chưa có nhóm sản phẩm nào</td>
                                    </tr>`;
                        }
                        $('#tbl-body').html(html);
                    } else {
                        $(document).Toasts('create', {
                            class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                        })
                    }
                },
                contentType: 'application/json; charset=utf8'
            });
        }

        function addCategory() {
            let name = $('#ipt-category-add-name').val();
            let supplier = $('#ipt-category-add-supplier').val();

            if (name == '') {
                $(document).Toasts('create', {
                    class: 'bg-warning', title: 'Thông báo', body: 'Tên nhóm sản phẩm không được để trống', autohide: true, delay: 750
                })
                return;
            } else if (supplier == '') {
                $(document).Toasts('create', {
                    class: 'bg-warning', title: 'Thông báo', body: 'Nhà cung cấp không được để trống', autohide: true, delay: 750
                })
                return;
            }

            let result = confirm('Bạn có chắc muốn tạo nhóm sản phẩm này?')
            if (result) {
                $.ajax({
                    type: "POST",
                    url: 'http://localhost:5000/api/ProductCategory',
                    data: JSON.stringify({ name: name, supplier: supplier }),
                    success: function (data) {
                        if (data.isSucceed) {
                            $(document).Toasts('create', {
                                class: 'bg-success', title: 'Thông báo', body: `Thêm nhóm sản phẩm thành công`, autohide: true, delay: 750
                            })
                            GetCategory();
                            $('#modal-category-add').modal('hide');
                        } else {
                            $(document).Toasts('create', {
                                class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                            })
                        }
                    },
                    contentType: 'application/json; charset=utf8'
                });
            }
        }

        function openUpdateCategory(id) {
            $.ajax({
                type: "GET",
                url: 'http://localhost:5000/api/ProductCategory/' + id,
                data: parseInt(id),
                success: function (data) {
                    if (data.isSucceed) {
                        $('#ipt-category-edit-name').val(data.result.name);
                        $('#ipt-category-edit-supplier').val(data.result.supplier);
                        $('#btn-update-category').attr('onclick', `updateCategory(${id})`);
                        $('#modal-category-edit').modal({ backdrop: 'static' });
                    } else {
                        $(document).Toasts('create', {
                            class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                        })
                    }
                },
                contentType: 'application/json; charset=utf8'
            });
        }

        function updateCategory(id) {
            let name = $('#ipt-category-edit-name').val();
            let supplier = $('#ipt-category-edit-supplier').val();

            if (name == '') {
                $(document).Toasts('create', {
                    class: 'bg-warning', title: 'Thông báo', body: 'Tên nhóm sản phẩm không được để trống', autohide: true, delay: 750
                })
                return;
            } else if (supplier == '') {
                $(document).Toasts('create', {
                    class: 'bg-warning', title: 'Thông báo', body: 'Nhà cung cấp không được để trống', autohide: true, delay: 750
                })
                return;
            }

            let result = confirm('Bạn có chắc muốn cập nhật nhóm sản phẩm này?')
            if (result) {
                $.ajax({
                    type: "PUT",
                    url: 'http://localhost:5000/api/ProductCategory/' + parseInt(id),
                    data: JSON.stringify({ name: name, supplier: supplier }),
                    success: function (data) {
                        if (data.isSucceed) {
                            $(document).Toasts('create', {
                                class: 'bg-success', title: 'Thông báo', body: `Cập nhật nhóm sản phẩm thành công`, autohide: true, delay: 750
                            });
                            GetCategory();
                            $('#modal-category-edit').modal('hide');
                        } else {
                            $(document).Toasts('create', {
                                class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                            })
                        }
                    },
                    contentType: 'application/json; charset=utf8'
                });
            }
        }

        function deleteCategory(id) {
            let result = confirm('Bạn có chắc muốn tạo nhóm sản phẩm này?')
            if (result) {
                $.ajax({
                    type: "DELETE",
                    url: 'http://localhost:5000/api/ProductCategory/' + id,
                    data: '',
                    success: function (data) {
                        if (data.isSucceed) {
                            $(document).Toasts('create', {
                                class: 'bg-success', title: 'Thông báo', body: `Xoá nhóm sản phẩm thành công`, autohide: true, delay: 750
                            })
                            GetCategory();
                        } else {
                            $(document).Toasts('create', {
                                class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                            })
                        }
                    },
                    contentType: 'application/json; charset=utf8'
                });
            }
        }
    </script>
}