@using ApiDocs;
@{
    ViewData["Title"] = "Hoá đơn";
}

<div class="container-fluid p-4">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Quản lý hoá đơn</h1>
        </div>
        <div class="col-sm-6" style="text-align-last: right;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-invoice-add">Tạo hoá đơn</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-reposive">
                        <thead>
                            <tr class="text-center">
                                <th>Mã hoá đơn</th>
                                <th>Tên sản phẩm bán</th>
                                <th>Số lượng bán</th>
                                <th>Số tiền</th>
                                <th class="w-140">Ngày tạo</th>
                                <th class="w-120"></th>
                            </tr>
                        </thead>
                        <tbody id="tbl-body"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="/Views/Invoice/CreatePartial.cshtml" />
<partial name="/Views/Invoice/EditPartial.cshtml" />

@section Scripts{
    <script>
        $(function () {
            GetInvoice();
            GetListProduct();
        })

        function GetInvoice() {
            $.ajax({
                type: "GET",
                url: 'http://localhost:5000/api/Outputs',
                data: '',
                success: function (data) {
                    if (data.isSucceed) {
                        let html = '';
                        if (data.result.length > 0) {
                            $.each(data.result, function (index, item) {
                                html += `<tr class="text-center">
                                            <td>HD000${item.id}</td>
                                            <td>${item.productName}</td>
                                            <td>${item.outputNumber}</td>
                                            <td>${item.outputPrice == null ? 0 : (Math.round(item.outputPrice * 100) / 100).toLocaleString()} VNĐ</td>
                                            <td>${moment(item.createdDate).format('HH:mm DD/MM/yyyy')}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" onclick="openUpdateInvoice(${item.id})">Chỉnh sửa</button>
                                            </td>
                                        </tr>`;
                            });
                        } else {
                            html += `<tr>
                                        <td colspan="6" class="text-center">Chưa có hoá đơn nào</td>
                                    </tr>`;
                        }
                        $('#tbl-body').html(html);
                    } else {
                        $(document).Toasts('create', {
                            class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                        })
                    }
                },
                contentType: 'application/json; charset=utf8'
            });
        }

        function GetListProduct() {
            $.ajax({
                type: "GET",
                url: 'http://localhost:5000/api/Product',
                data: '',
                success: function (data) {
                    if (data.isSucceed) {
                        let html = '';
                        $.each(data.result, function (index, item) {
                            html += `<option value="${item.id}">${item.productName}</option>`
                        });
                        $('#sel-invoice-add-product').html(html);
                        $('#sel-invoice-edit-product').html(html);
                    } else {
                        $(document).Toasts('create', {
                            class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                        })
                    }
                },
                contentType: 'application/json; charset=utf8'
            });
        }

        function addInvoice() {
            let number = $('#ipt-invoice-add-number').val();
            let idProduct = $('#sel-invoice-add-product').val();

            if (number == '' || number == 0) {
                $(document).Toasts('create', {
                    class: 'bg-warning', title: 'Thông báo', body: 'Số lượng không nhỏ hơn 0', autohide: true, delay: 750
                })
                return;
            }

            let result = confirm('Bạn có chắc muốn tạo hoá đơn này?')
            if (result) {
                $.ajax({
                    type: "POST",
                    url: 'http://localhost:5000/api/Outputs',
                    data: JSON.stringify({ outputNumber: parseInt(number), productId: idProduct }),
                    success: function (data) {
                        if (data.isSucceed) {
                            $(document).Toasts('create', {
                                class: 'bg-success', title: 'Thông báo', body: `Thêm hoá đơn thành công`, autohide: true, delay: 750
                            })
                            GetInvoice();
                            $('#modal-invoice-add').modal('hide');
                        } else {
                            $(document).Toasts('create', {
                                class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                            })
                        }
                    },
                    contentType: 'application/json; charset=utf8'
                });
            }
        }

        function openUpdateInvoice(id) {
            $.ajax({
                type: "GET",
                url: 'http://localhost:5000/api/Invoice/' + id,
                data: parseInt(id),
                success: function (data) {
                    if (data.isSucceed) {
                        $('#ipt-Invoice-edit-name').val(data.result.InvoiceName);
                        $('#sel-Invoice-edit-category').val(data.result.categoryId).trigger('change');
                        $('#btn-update-Invoice').attr('onclick', `updateInvoice(${id})`);
                        $('#modal-Invoice-edit').modal({ backdrop: 'static' });
                    } else {
                        $(document).Toasts('create', {
                            class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                        })
                    }
                },
                contentType: 'application/json; charset=utf8'
            });
        }

        function updateInvoice(id) {
            let name = $('#ipt-Invoice-edit-name').val();
            let idCategory = $('#sel-Invoice-edit-category').val();

            if (name == '') {
                $(document).Toasts('create', {
                    class: 'bg-warning', title: 'Thông báo', body: 'Tên sản phẩm không được để trống', autohide: true, delay: 750
                })
                return;
            }

            let result = confirm('Bạn có chắc muốn cập nhật sản phẩm này?')
            if (result) {
                $.ajax({
                    type: "PUT",
                    url: 'http://localhost:5000/api/Invoice/' + id,
                    data: JSON.stringify({ InvoiceName: name, categoryId: idCategory }),
                    success: function (data) {
                        if (data.isSucceed) {
                            $(document).Toasts('create', {
                                class: 'bg-success', title: 'Thông báo', body: `Cập nhật sản phẩm thành công`, autohide: true, delay: 750
                            });
                            GetInvoice();
                            $('#modal-Invoice-edit').modal('hide');
                        } else {
                            $(document).Toasts('create', {
                                class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                            })
                        }
                    },
                    contentType: 'application/json; charset=utf8'
                });
            }
        }

        function deleteInvoice(id) {
            let result = confirm('Bạn có chắc muốn tạo nhóm sản phẩm này?')
            if (result) {
                $.ajax({
                    type: "DELETE",
                    url: 'http://localhost:5000/api/Invoice/' + id,
                    data: '',
                    success: function (data) {
                        if (data.isSucceed) {
                            $(document).Toasts('create', {
                                class: 'bg-success', title: 'Thông báo', body: `Xoá nhóm sản phẩm thành công`, autohide: true, delay: 750
                            })
                            GetInvoice();
                        } else {
                            $(document).Toasts('create', {
                                class: 'bg-warning', title: 'Thông báo', body: data.message, autohide: true, delay: 750
                            })
                        }
                    },
                    contentType: 'application/json; charset=utf8'
                });
            }
        }
    </script>
}