@using ApiDocs;
@{
    ViewData["Title"] = "Quản lý kho";
}

<div class="container-fluid p-4">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Quản lý kho hàng</h1>
        </div>
        <div class="col-sm-6" style="text-align-last: right;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-warehouse-add">Nhập kho</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-reposive">
                        <thead>
                            <tr class="text-center">
                                <th>Tên sản phẩm</th>
                                <th>Nhóm sản phẩm</th>
                                <th>Đã bán</th>
                                <th>Số lượng trong kho</th>
                                <th class="text-center w-140">Ngày nhập</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>Sản phẩm 1</td>
                                <td>Nhóm sản phẩm 1</td>
                                <td>10</td>
                                <th>5</th>
                                <td>10/07/2021 16:59 AM</td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-center">Chưa có sản phẩm nào</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="/Views/Warehouse/CreatePartial.cshtml" />

@section Scripts{
    <script>
        $(function () {

        })
    </script>
}